[*]
indent_braces=false
indent_multi_line_relative_to=innermost_parenthesis
indent_within_parentheses=indent
indent_preserve_within_parentheses=false
indent_case_labels=false
indent_case_contents=true
indent_case_contents_when_block=false
indent_lambda_braces_when_parameter=true
indent_goto_labels=one_left
indent_preprocessor=leftmost_column
indent_access_specifiers=false
indent_namespace_contents=true
indent_preserve_comments=false
new_line_before_open_brace_namespace=ignore
new_line_before_open_brace_type=ignore
new_line_before_open_brace_function=ignore
new_line_before_open_brace_block=ignore
new_line_before_open_brace_lambda=ignore
new_line_scope_braces_on_separate_lines=false
new_line_close_brace_same_line_empty_type=false
new_line_close_brace_same_line_empty_function=false
new_line_before_catch=true
new_line_before_else=true
new_line_before_while_in_do_while=false
space_before_function_open_parenthesis=remove
space_within_parameter_list_parentheses=false
space_between_empty_parameter_list_parentheses=false
space_after_keywords_in_control_flow_statements=true
space_within_control_flow_statement_parentheses=false
space_before_lambda_open_parenthesis=false
space_within_cast_parentheses=false
space_after_cast_close_parenthesis=false
within_expression_parentheses=false
before_block_open_brace=true
between_empty_braces=false
before_initializer_list_open_brace=false
within_initializer_list_braces=true
preserve_in_initializer_list=true
before_open_square_bracket=false
within_square_brackets=false
before_empty_square_brackets=false
between_empty_square_brackets=false
group_square_brackets=true
within_lambda_brackets=false
between_empty_lambda_brackets=false
space_before_comma=false
space_after_comma=true
space_remove_around_member_operators=true
space_before_inheritance_colon=true
space_before_constructor_colon=true
space_remove_before_semicolon=true
space_after_semicolon=false
space_remove_around_unary_operator=true
space_around_binary_operator=insert
space_around_assignment_operator=insert
space_pointer_reference_alignment=left
space_around_ternary_operator=insert
wrap_preserve_blocks=one_liners
